body {
    background-color: cadetblue;
}
.add {
    width: 20%;
    height: 5%;
    background-color: red;
    cursor: pointer;
}
.item {
    float: left;
    width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 20px;
}
.container {
    top: 5px;
    position: absolute;
    left: 22%;
}
.delete {
    background-image: url("Controls/delete.png");
    width: 30px;
    height: 30px;
}
.controls {
    position: absolute;
    bottom: 10px;
}
.control {
    float: left;
    margin-left: 5px;
}