.add {
    width: 20%;
    height: 5%;
    background-color: red;
    cursor: pointer;
}
.item {
    float: left;
    width: 200px;
    height: 200px;
    background-image: url("conditioner.jpg");
    margin: 5px;
    border-radius: 20px;
}
.container {
    top: 5px;
    position: absolute;
    left: 22%;
}